{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>PI_Fitness</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="/">PI Fitness<span>.</span></a></h1>
      <!-- <a href="/" class="logo me-auto me-lg-0"><img src="https://yt3.ggpht.com/a/AATXAJyh_fb4tr1QenjkejkO1Qwvmc8JCrstNZY-KQ=s900-c-k-c0xffffffff-no-rj-mo" alt="" class="img-fluid"></a> -->
      
      <!-- Uncomment below if you prefer to use an image logo  -->
       <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="static/assets/img/logo.png" alt="" class="img-fluid"></a> -->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/workouts">Workouts</a></li>
<!--          <li><a class="nav-link scrollto" href="/services">Services</a></li>-->
          <li><a class="nav-link scrollto " href="/gallery">Gallery</a></li>
          <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
          <li class="dropdown"><a href="#"><span>Memberships</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/enroll">Enroll</a></li>
              <li><a href="/workout">WorkoutLog</a></li>
              <li><a href="/profile">View Profile</a></li>
            </ul>
          </li>
          {% if not request.user.is_authenticated %}

          <li><a class="nav-link scrollto" href="/signup">Sign-up</a></li>
          {% else %}
          <li><a class="nav-link scrollto" href="/logout">logout</a></li>
         
          {% endif %}


        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav> <!-- .navbar -->

      {% if  request.user.is_authenticated %}
      <a href="/" class="get-started-btn scrollto">Welcome</a>
      {% endif %}

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1><i>No pain, No gain</i><span>..!</span></h1>
          <h2>We’re not a gym, we’re a lifestyle</h2>
        </div>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-store-line"></i>
            <h3><a href="">Biceps | Triceps</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line"></i>
            <h3><a href="">Back</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-calendar-todo-line"></i>
            <h3><a href="">Shoulders</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-paint-brush-line"></i>
            <h3><a href="">Chest</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-database-2-line"></i>
            <h3><a href="">Legs</a></h3>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="https://C:\Users\Hp\Gymfitness\Gymfitness\PIfitness\static\images\run.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h1 class="fw-bold">One membership for all your fitness needs.</h1>
            <p class="fst-italic">
              A gym isn’t just a place for exercise; it’s the place you go to unwind,
              socialize and work out. The gym is a whole experience.
               Some of the most successful facilities have several gym features
               that contribute to the kind of member experience that drives retention and sales.
              There are various reasons why members choose specific gyms.
              When two brands provide a similar service, a lot of the time it doesn’t come down to price,
              but the value you bring.
              There’s no point in paying for a cheaper membership when it doesn’t meet all your requirements.
              By integrating top gym features into your business, you can beat out the competition
              and attract your target audience.
            </p>
            <br>
            <br>
            <h3>Why Members Choose Our Gym</h3>

            <ul>
              <li><i class="ri-check-double-line"></i> Clean and Hygienic.</li>
              <li><i class="ri-check-double-line"></i> Training Ability </li>
              <li><i class="ri-check-double-line"></i> Hours of Operation and Location</li>
              <li><i class="ri-check-double-line"></i> Motivation and Accountability</li>
              <li><i class="ri-check-double-line"></i> Community and Socializing</li>
            </ul>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

<!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="clients-slider swiper">

          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Check our Services</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Avail dietary supplements</a></h4>
              <p>Clients to purchase both pre-workout and post-workout supplements to improve their results.

              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Lockers</a></h4>
              <p>Offering lockers to members can help them keep their items safe.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Physiotherapy</a></h4>
              <p> There are clients who are over 50 years and may need physiotherapy services.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="">Personal training</a></h4>
              <p>Maximize your workout with the help of our personal trainers.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href="">Music sound</a></h4>
              <p>Select a playlist that motivates the training session.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">State-of-the-Art Equipment</a></h4>
              <p>Each Powerhouse facility offers high quality cardio & strength equipment.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>PI Fitness<span>.</span></h3>
              <p>
                #853, SS Tower, 3rd Floor,<br>
                 Kothnur Main Road,<br>
                 JP Nagar 7th Phase,<br>
                Bengaluru – 5600078<br><br>

                <strong>Phone:</strong>9876543210<br>
                <strong>Email:</strong>hello@pifitness.com<br>
              </p>

            </div>
          </div>


        </div>
      </div>
    </div>



  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>